.input {
  font-family: var(--font-sans);
  color: #9C9C9D;
  font-size: 16px;
  padding: 17px;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
}

.errorMessage {
  color: #ff5555;
  margin-bottom: 2px;
}