.containerNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 40px;
  color: #9C9C9D;
}

.title {
  text-align: center;
}

.text {
  font-size: 14px;
  margin-top: 7px;
  text-align: center;
}

.buttonContainer {
  width: 298px;
}